{
  "extends": ["semistandard", "prettier"],
  "rules": {
    "standard/no-callback-literal": 0, // Disable this as we have too many callbacks relying on literals
    "camelcase": 0
  },
  "env": {
    "browser": true
  },
  "globals": {}
}
